/* Streamer Mode CSS made by irrvlo#6969 */
/* You can use this in your projects, just credit me */

/* Last Updated: 5/3/2022 9:44AM CST
/* Fixed it breaking on each update, hopefully
/* What's next?: Fixing names above players in game. */

.nickname {
    visibility: hidden;
}
.nickname::before {
    content: 'Newbie';
    visibility: visible;
}

.message {
    visibility: hidden;
}

.message::before {
    content: "please turn off chat via client settings";
    visibility: visible;
}

.short-id  {
    display: none;
}

.name {
    visibility: hidden;
}

.name::before {
    content: 'Newbie';
    visibility: visible;
}

span.name-kill {
    visibility: hidden;
}

span.name-kill::before {
    content: "Newbie";
    visibility: visible;
}

.username {
    visibility: hidden;
}

.username::before {
    content: "#------";
    visibility: visible;
}

.copy {
    visibility: hidden;
}
.copy::before {
    content: "#------";
    visibility: visible;
}

