.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #252424;
}
.home-header {
  width: 1859px;
  height: 84px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 12px;
  flex-direction: column;
}
.home-image {
  width: 301px;
  height: 59px;
  margin-top: 4px;
  object-fit: cover;
}
.home-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-end;
  align-items: center;
  padding-top: 32px;
  flex-direction: column;
}
.home-text {
  color: #ffffff;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text1 {
  color: #b9b3b3;
  text-align: center;
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
}
